<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5-s4PnwY1wADGV_0jCP-559omylJQtjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>985969573040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.alcancia.alcancia</string>
	<key>PROJECT_ID</key>
	<string>alcancia-testing</string>
	<key>STORAGE_BUCKET</key>
	<string>alcancia-testing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985969573040:ios:25cab5bd4ffd3159dd0f75</string>
</dict>
</plist>